<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Aurora's Oasis: Server Stuff</title>
  </head>

  <body>


    <P>Server Stuff:</P>
    <a href="/forceCrystalRefresh">/forceCrystalRefresh</a>
    <P>Refreshes All Crystals</P>
    <a href="/inventCountCrystals">/inventCountCrystals</a>
    <P>invents 10 crystals anywhere in Texas</P>
    <a href="/inventCountCrystals?count=3000">/inventCountCrystals?count=3000</a>
    <P>invents 3000 crystals anywhere in Texas</P>
    <a href="/inventCountCrystals?count=30000">/inventCountCrystals?count=30000</a>
    <P>invents 30000 crystals anywhere in Texas</P>
    <a href="/inventCountCrystals?count=30&me=true">/inventCountCrystals?count=30&me=true</a>
    <P>invents 30 crystals near my gps</P>
  </body>
</html>